---
---

$gray: #808080;
$light-gray: #EEE;
$nus-blue: #003D7C;
$nus-orange: #EF7C00;
$white: #FFF;

/* Space out content a bit */
body {
    padding-top: 20px;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

/* Group logo */
#logo {
    width: 200px;
    height: 50px;
    margin: 2px 0 8px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}


/* Base styles (mobile first) */
/* Resetting column count for mobile, though grid override below will handle layout */
.project-people, .card-columns, .role.grad, .role.postdoc, .role.visit {
    column-count: 1;
}

/* Tablet styles */
@media (min-width: 576px) {
    /* CHANGED: Use Grid instead of columns for better horizontal alignment */
    .project-people, .card-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start; /* Ensures tops of cards align */
    }
}

/* Desktop styles */
@media (min-width: 768px) {
    
    .project-people, .card-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px; 
    }
    
    .role.grad {
        /* CHANGED: Removed column-count, added Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        /* column-count: 2;  <-- Old method */
        /* break-before: column; <-- No longer needed */
    }

    .role.faculty {
        /* Faculty remains single column usually, or grid 1fr */
        display: grid;
        grid-template-columns: 1fr; 
        
        /* column-count: 1; */
        /* break-before: column; */
        max-height: 200px;
        max-width: 700px;
    }
    
    .role.postdoc {
        /* CHANGED: Removed column-count, added Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
        /* column-count: 2; */
        /* break-before: column; */
    }

    .role.visit {
        /* CHANGED: Removed column-count, added Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
        /* column-count: 2; */
        /* break-before: column; */
    }

    .role.staff {
        /* CHANGED: Removed column-count, added Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
        /* column-count: 2; */
        /* break-before: column; */
        margin-bottom: 10px;
    }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $white;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {
    /* Grid handles the gap, but we can keep margin-bottom for mobile views if not using grid there */
    margin-bottom: 30px;
    
    /* Ensure the person container takes up full width of the grid cell */
    width: 100%; 

    .profile {
        height: 100px;
        width: 100px;
    }

    .bio {
        color: $nus-blue;
        font-weight: 300;
        font-size: 12px;
        max-height: 200px; 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: pre-wrap; 
    }
    
    .person-name {
        margin: 0;
    }

    .email {
        display: block;
        color: $nus-orange;
        text-decoration: none;
        font-size: 14px;
        margin-top: 2px;
        transition: color 0.2s ease;
    }

    .degree {
        color: $nus-orange;
        font-size: 12px;
    }

    .email:hover {
        color: #004499;
        text-decoration: underline;
    }

}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}