<table class="table">
<tbody>
	{%- set total_publications = entries|length %}
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="enumeration">
				{{ total_publications - loop.index0 }}
			</span>
		</td>

		<td class="publication">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>
				{%- else %}
				{{ entry|title }}
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venue">
				{%- if entry.fields['journal'] %}
					{{ entry.fields['journal'] }}
					{%- if entry.fields['volume'] %}
					{{ entry.fields['volume'] }}
					{%- endif %}, 
					{%- if entry.fields['pages'] %}
					{{ entry.fields['pages'] }}
					{%- endif %}
					{%- if entry.fields['year'] %}
					(<strong>{{ entry.fields['year'] }}</strong>)
					{%- endif %}
				{%- elif entry|venue %}
					{{ entry|venue }}
				{%- endif %}
			</span>
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
				{%- if entry.fields['abstract'] %}
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">abstract</a>]
				{%- endif %}
			</span>
			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract">
			{{ entry.fields['abstract'] |escape }}
			</div>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>